<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.studentmanagement.teacher">

    <application
        android:allowBackup="true"
        android:icon="@drawable/teacher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AttendanceActivity"></activity>
        <activity android:name=".ExtraCurricularActivity" />
        <activity android:name=".AddMaterialsActivity" />
        <activity android:name=".AddLinksActivity" />
        <activity android:name=".AddNotesActivity" />
        <activity android:name=".ClassRoomActivity" />
        <activity
            android:name=".EditStudentProfileActivity"
            android:theme="@style/OtherAppTheme" />
        <activity
            android:name=".CreateTimeTableActivity"
            android:label="Create Timetable"
            android:theme="@style/OtherAppTheme" />
        <activity
            android:name=".TimeTableActivity"
            android:label="My Timetable" />
        <activity
            android:name=".CalenderActivity"
            android:label="My Calender" />
        <activity android:name=".SingleStudentActivity" />
        <activity
            android:name=".ShowStudentProfileActivity"
            android:label="Student Details" />
        <activity
            android:name=".MyStudentsActivity"
            android:label="My Student" />
        <activity
            android:name=".CreateStudentsActivity"
            android:label="Create Student"
            android:theme="@style/OtherAppTheme" />
        <activity android:name=".ResetPasswordActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".EditProfileActivity"
            android:theme="@style/OtherAppTheme" />
        <activity android:name=".ProfileActivity" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.Splash" />
        <activity android:name=".PreviousSemesterActivity"/>
        <activity android:name=".SemesterActivity"/>
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/Theme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />


        <provider android:name="androidx.core.content.FileProvider"
            android:authorities="com.studentmanagement.teacher.fileprovider"
            android:exported="false" android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_paths"/>
        </provider>

    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE " />



</manifest>